<web-app>  
  
<servlet>  
<servlet-name>validate</servlet-name>  
<servlet-class>Validate</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>validate</servlet-name>  
<url-pattern>/validate</url-pattern>  
</servlet-mapping>  
  
<servlet>  
<servlet-name>Home</servlet-name>  
<servlet-class>Home</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Home</servlet-name>  
<url-pattern>/home</url-pattern>  
</servlet-mapping>  

  
<servlet>  
<servlet-name>logout</servlet-name>  
<servlet-class>logout</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>logout</servlet-name>  
<url-pattern>/logout</url-pattern>  
</servlet-mapping>  


<servlet>  
<servlet-name>ackg</servlet-name>  
<servlet-class>ackg</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ackg</servlet-name>  
<url-pattern>/ackg</url-pattern>  
</servlet-mapping>  


<servlet>  
<servlet-name>SendMail</servlet-name>  
<servlet-class>Mail</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>SendMail</servlet-name>  
<url-pattern>/mail</url-pattern>  
</servlet-mapping> 


<servlet>  
<servlet-name>Send_msg</servlet-name>  
<servlet-class>Send_msg</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Send_msg</servlet-name>  
<url-pattern>/send</url-pattern>  
</servlet-mapping> 

<filter>  
<filter-name>Home2</filter-name>  
<filter-class>NoCacheFilter</filter-class>  
</filter>  
  
<filter-mapping>  
<filter-name>Home2</filter-name>  
<url-pattern>/*</url-pattern>  
</filter-mapping>  


</web-app>  